* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav.navbar.navbar-light.navbar-toggleable-md.bg-faded {
    line-height: 50px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);

}

div#myMenu {
    flex-direction: row-reverse;
}

div#myMenu ul a.nav-link {
    text-transform: uppercase;
    font-size: 13px;
    color: #333333;;
    font-weight: 600;
    padding-left: 17px;
    padding-right: 17px;
    font-family: 'Raleway', sans-serif;
    margin-top: 8px;
}

div#myMenu ul a.nav-link:hover {
    color: #03c4eb

}

.content {
    padding-top: 75px;
    width: 100%;
}

.video-section {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #222222;
    z-index: 1;
}

.video-section video {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
    top: 0;
    object-fit: cover;
    bottom: 0;
    display: block;
}

.bg-content {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 99, 113, 0.28);
    z-index: 3;
}

.one-page {
    padding: 200px 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    background-color: transparent;

}

.one-page h2.tittle-content {
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    letter-spacing: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}

.one-page p {
    color: white;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 40px;
}

.one-page a.btn-lg {
    margin-right: 10px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 18px;
    color: white;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
}

a.btn-lg.btn-secondary {
    background: transparent;
    border: 1px solid white;
}

a.btn-lg.btn-secondary:hover {
    color: black;
    background-color: white;
}

.logo {
    padding-bottom: 35px;
    padding-top: 40px;
}

.logo .img-2 {
    padding: 8px;
}

.feature {
    background-color: #F8F9F9;
    padding: 70px 0;
    font-family: 'Raleway', sans-serif;
}

.feature-tittle {
    margin-bottom: 60px;
}

.feature-tittle h6 {
    font-weight: 600;
    color: #AFAAAA;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.feature-tittle h2 {
    color: black;
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 40px;

}

.feature .item {
    text-align: center;
}

.feature .item h1 i {
    color: white;
    font-size: 50px;
    margin-bottom: 15px;
    padding: 25px;
    border-radius: 50%;
    background-color: #03C4EB;
    transition: 0.7s;
}

.feature .item h1 i:hover {
    transform: scale(1.1);
    background-color: black;
}

.feature .item h6 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
}

.feature .item p {
    font-size: 14px;
    color: #777777;
}

.about {
    padding: 70px 0;
    font-family: 'Raleway', sans-serif;
}

.about .feature-tittle {
    margin-bottom: 60px;
}

.about .feature-tittle p {
    margin-top: 50px;
    font-size: 18px;
    font-weight: 600;
    color: #777777;
}

.about .item h6 {
    font-weight: 600;
    margin: 20px 0;
    font-size: 18px;
}

.about .item p {
    font-size: 14px;
    color: #777777;
}

.intro {
    position: relative;
    background: url("images/hero5.jpg");
    height: 430px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(173, 216, 230, 0.29);

}

.intro .bg-intro {
    background-color: rgba(173, 216, 230, 0.29);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.intro .container {
    height: 100%;
}

.intro .container h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: white;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.about .feature-tittle .col-md-12.text-center p {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 600;
    color: rgba(130, 130, 130, 0.69);
}

#my-slide .col-md-3 {
    height: 303px;
}

a.carousel-control-prev, a.carousel-control-next {
    width: 5%;
}

i.fa.fa-arrow-right {
    padding: 10px;
    background-color: black;
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateY(-50%);
}

i.fa.fa-arrow-left {
    padding: 10px;
    background-color: black;
    position: absolute;
    top: 45%;
    left: 0;
    transform: translateY(-50%);
}
ol.carousel-indicators {
    display: none;
}

#my-slide .carousel-inner .carousel-item .col-md-3 {
    padding: 0;
    margin: 1px;
    overflow: hidden;
}

#my-slide .carousel-inner .carousel-item img:hover {
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    transition: all 0.4s;
    transform: scale(1.3);
}

#my-slide .col-md-3 img {
    width: 100%;
    height: 303px;
    transition: all 0.4s;
    transform: scale(1);

}

.services {
    background-color: #F8F9F9;
    padding-top: 60px;
    padding-bottom: 60px;
}

.services .container .row .col-lg-6 .s-item .row .col-3 i {
    padding: 8px;
    color: #03C4EB;
}

.services .container .row .col-lg-6 .s-item .row .col-9 h4 {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 10px;

}

.services .container .row .col-lg-6 .s-item .row .col-9 p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;

}

.services .col-lg-6 {
    /*padding: 30px 0;*/
    margin-bottom: 30px;

}

.services .col-lg-6 .s-item {
    background-color: white;
    padding: 30px 0;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.projects {
    padding: 70px 0;
}

.projects .container .col-lg-4.col-md-6 {
    padding: 1px;
    border: 1px solid #E0E0E0;
    overflow: hidden;

}

.projects .container .col-lg-4.col-md-6 .wrapper-img {
    overflow: hidden;
}

.projects .container .col-lg-4.col-md-6 img.img-fluid {
    transition: all 0.4s;
    transform: scale(1);
}

.projects .container .col-lg-4.col-md-6 img.img-fluid:hover {
    transform: scale(1.3);
    transition: all 0.4s;
}

.projects .container .col-lg-4.col-md-6 h6 {
    margin: 18px;
}

.projects .container .col-lg-4.col-md-6 p {
    margin-left: 18px;
    font-size: 13px;
    font-weight: 600;
    color: #cccccc;
}

.others {
    padding: 70px 0;
    background-color: #222222;
}

.others .container .row .col-12 h6 {
    color: #9A9A9A;
    font-size: 18px;
    margin-bottom: 65px;
}

.others .container .text-center h2 {
    color: #03C4EB;
    font-size: 30px;
}

.others .container .text-center p {
    color: #cccccc;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.testimonials {
    padding: 90px 0;
    background-color: #F8F9F9;
}

.testimonials .card.first-item {
    background-color: #F0AD4E;
}

.testimonials .card.second-item {
    background-color: #5CB85C;
}

.testimonials .card.third-item {
    background-color: #03C4EB;
}

.testimonials .card .card-block .col-md-5 img {
    border-radius: 50%;
    border: 2px solid white;
}

.testimonials .card .card-block .col-md-7 h6 {
    color: white;
    font-style: italic;
    font-size: 18px;
}

.testimonials .card .card-block .col-md-7 p {
    color: rgb(226, 225, 225);
    font-size: 14px;
    font-style: italic;
}

.testimonials .card .card-block h6 {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.testimonials .card .card-block p {
    color: rgb(226, 225, 225);
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.pricing {
    padding: 70px 0;
    background: url("images/hero4.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}

.pricing .card .card-block .card-title {
    margin-top: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(226, 225, 225, 0.51);
    font-size: 20px;
}

.pricing .card .card-block h2 {
    margin: 30px 0;
}

.pricing .card .card-block h6 {
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(226, 225, 225, 0.51);
    font-size: 14px;
    color: #777777;
}

.pricing .card .card-block ul {
    margin-bottom: 40px;
}

.pricing .card .card-block ul li {
    color: #777777;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-style: italic;
}

.pricing .card .card-block p {
    border-radius: 0;
}

.other2 {
    padding: 75px 0;
    background-color: black;
}

.other2 .col-lg-9 h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #E9E9E9;
}

.other2 .col-lg-3 button {
    color: #03C4EB;
    transition: 0.4s;
    border-color: #03C4EB;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 14px;
}

.other2 .col-lg-3 button:hover {
    color: white;
    background-color: #03C4EB;
    font-weight: bold;
}

.teams {
    padding: 70px 0;
    background-color: #F8F9F9;
}

.teams .container .feature-tittle {
    margin-bottom: 65px;
}

.teams .container .row .col-lg-3.col-md-6.text-center {
    padding: 1px;
    margin: 0;
    font-family: 'Raleway', sans-serif;

}

.teams .container .one-item {
    width: 100%;
    position: relative;
    height: 146px;
    overflow: hidden;

}

.teams .container .one-item:hover .layer2 {
    opacity: 1;
}

.teams .container .one-item:hover .layer3 {
    bottom: -10px;
}

.teams .container .one-item .layer1 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teams .container .one-item .layer2 {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2;
    background-color: rgba(204, 204, 204, 0.27);
    opacity: 0;
    transition: 0.5s;
}

.teams .container .one-item .layer3 {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 3;
    transition: 0.3s;
}

.teams .container .one-item .layer3 li {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 3px;
}

.teams .container .one-item .layer3 li a {
    text-decoration: none;
    color: white;
    padding: 4px 7px;
    background-color: black;
    border-radius: 50%;
    font-size: 12px;
}

.teams .info-person h6 {
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
    color: black;

}

.teams .info-person h6:after {
    content: "";
    display: block;
    position: relative;
    left: 50%;
    margin-left: -15%;
    bottom: -10px;
    width: 30%;
    height: 1px;
    background: #cccccc;

}

.teams .info-person p {
    margin-top: 20px;
    font-size: 10px;
    font-weight: 600;
}

.news {
    padding: 70px 0;
    font-family: 'Raleway', sans-serif;
}

.news .content-news .one-new {
    padding: 23px 0;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
}

.news .content-news .one-new .col-md-8 h6 {
    font-size: 12px;
    color: #39D1EF;
    font-weight: 800;
}

.news .content-news .one-new .col-md-8 p {
    color: #777777;
    font-size: 14px;
}

.news .content-news button.btn.btn-outline-primary.text-uppercase.text-center {
    font-size: 12px;
    font-weight: 600;
    margin-top: 40px;
}

.touch {
    padding: 70px 0;
    background-color: #F8F9F9;
    font-family: 'Raleway', sans-serif;
}

.touch .container .row .form-group label {
    font-weight: 600;
    text-transform: uppercase;
    color: #848484;
    font-size: 11px;
    letter-spacing: 2px;
}

.touch .container .row .form-group input, textarea#msg {
    margin-bottom: 20px;
    background-color: #F2F2F2;
    border-radius: 0;
    box-shadow: 1px 1px 1px rgb(204, 204, 204);

}

.touch .container .row .form-group input:last-child {

    margin-top: 20px;
    background-color: #03C4EB;
    border-radius: 0;
    box-shadow: 1px 0 0 #ccc;
    margin-bottom: 0;
}

.touch .container .row .right-touch {
    padding-top: 30px;
}

.touch .container .row .right-touch h6 {
    font-weight: 600;
    margin-bottom: 20px;
}

.touch .container .row .right-touch p {
    font-size: 15px;
    color: #777777;
}

.touch .container .row .right-touch ul li {
    padding: 10px 0;
}

.touch .container .row .right-touch ul li a {
    text-decoration: none;
    color: #777777;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
}

.touch .container .row .right-touch ul li a i {
    margin-right: 20px;
    padding: 7px 10px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #AAAAAA;
}

.touch .container .row .right-touch ul li:first-child a {
    margin-right: 20px;
    border-radius: 50%;
    color: #2BCCED;

}

footer {
    padding: 70px 0;
    background-color: black;
}

footer .container .row .footer-left form input {
    line-height: 25px;
    border-radius: 0;
    font-size: 13px;
    width: 100%;
}

footer .container .row .footer-right ul {
    margin-top: 10px;
}

footer .container .row .footer-right ul li {
    display: inline-block;
}

footer .container .row .footer-right ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin: 0 13px;
}

footer .container .row .footer-right ul li a:hover i {
    color: #03C4EB
}

.site-info {
    padding: 40px 0;
    background-color: #222222;
    color: white;
}

.site-info .container .row a {
    display: block;
    position: absolute;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    top: -50px;
    right: 0;
    width: 50px;
    color: white;
    background-color: #222222;
    transform: rotate(45deg);

}

.site-info .container .row i {

    transform: rotate(-45deg);
    position: relative;
    top: -16px;
    right: 16px;

}

@media (min-width: 992px) and (max-width: 1070px) {
    div#myMenu ul a.nav-link {
        text-transform: uppercase;
        font-size: 13px;
        color: #333333;
        font-weight: 600;
        padding-left: 12px;
        padding-right: 17px;

    }
}

@media (min-width: 768px) and (max-width: 991px) {

    button.navbar-toggler.navbar-toggler-right {
        top: 5px;
        border-color: transparent !important;
        border: none;
        background-color: transparent;
        outline: none;

    }
    nav.navbar.navbar-light.navbar-toggleable-md.bg-faded {
        line-height: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
        background-color: white;
        box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    }
    ul.nav.navbar-nav{
        margin-top: 13px;
    }



    li.nav-item {
        border-top: 1px solid #e9e9e9;
    }

    div#myMenu ul a.nav-link {
        text-transform: uppercase;
        font-size: 13px;
        color: #333333;
        font-weight: 600;
        padding-left: 0;
        padding-right: 0;
        font-family: 'Raleway', sans-serif;
        margin-top: 8px;
        /*text-align: center;*/
    }

    .one-page h2.tittle-content {
        text-transform: uppercase;
        color: white;
        font-size: 60px;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        letter-spacing: 5px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        margin-bottom: 20px;
    }



    .testimonials .card .card-block .col-md-5 {
        padding: 0;
    }

    .testimonials .card .card-block h6 {
        margin-top: 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        color: white;
        margin-bottom: 10px;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    button.navbar-toggler.navbar-toggler-right {
        top: 5px;
        border-color: transparent !important;
        border: none;
        background-color: transparent;
        outline: none;

    }
    nav.navbar.navbar-light.navbar-toggleable-md.bg-faded {
        line-height: 20px;
        padding-bottom: 10px;
        padding-top: 20px;
        background-color: white;
        box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    }
    ul.nav.navbar-nav{
        margin-top: 13px;
    }



    li.nav-item {
        border-top: 1px solid #e9e9e9;
    }

    div#myMenu ul a.nav-link {
        text-transform: uppercase;
        font-size: 13px;
        color: #333333;
        font-weight: 600;
        padding-left: 0;
        padding-right: 0;
        font-family: 'Raleway', sans-serif;
        margin-top: 8px;
        /*text-align: center;*/
    }
    .one-page h2.tittle-content {
        text-transform: uppercase;
        color: white;
        font-size: 40px;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        letter-spacing: 5px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .one-page p {
        color: white;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 40px;
    }

    .one-page a.btn-lg {
        margin-right: 10px;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 16px;
        color: white;
        font-weight: 600;
        text-decoration: none;
        transition: 0.4s;
    }

    .logo .container .row .col-sm-6.col-md-3.text-center {
        margin-bottom: 20px;
    }

    .feature .item h1 i {
        color: white;
        font-size: 40px;
        margin-bottom: 15px;
        padding: 25px;
        border-radius: 50%;
        background-color: #03C4EB;
        transition: 0.7s;
    }

    .teams .container .one-item {
        width: 100%;
        position: relative;
        height: 225px;
        overflow: hidden;
    }

    .teams .container .row .col-lg-3.col-md-6.text-center {
        padding: 0 15px;
        margin: 0;
        font-family: 'Raleway', sans-serif;

    }

    .card {
        margin-bottom: 15px;
    }

    .card-deck .card:last-child {
        margin-left: 0 !important;;
    }
    .news .content-news .one-new .col-md-8 h6 {
        font-size: 12px;
        color: #39D1EF;
        font-weight: 800;
        margin-top: 15px;
    }

}   /*end css 576->767px*/




@media (min-width: 320px) and (max-width: 575px) {

    header.fixed-top nav.navbar.navbar-light.navbar-toggleable-md.bg-faded .container {
        margin-left: 0;
        margin-right: 0;
    }

    button.navbar-toggler.navbar-toggler-right {
        top: 5px;
        border-color: transparent !important;
        border: none;
        background-color: transparent;
        outline: none;

    }
    nav.navbar.navbar-light.navbar-toggleable-md.bg-faded {
        line-height: 20px;
        padding-bottom: 10px;
        background-color: white;
        padding-top: 20px;
        box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    }
    ul.nav.navbar-nav{
        margin-top: 13px;
    }



    li.nav-item {
        border-top: 1px solid #e9e9e9;
    }

    div#myMenu ul a.nav-link {
        text-transform: uppercase;
        font-size: 13px;
        color: #333333;
        font-weight: 600;
        padding-left: 0;
        padding-right: 0;
        font-family: 'Raleway', sans-serif;
        margin-top: 8px;
        /*text-align: center;*/
    }

    .one-page h2.tittle-content {
        text-transform: uppercase;
        color: white;
        font-size: 30px;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        letter-spacing: 5px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .services .container .row .col-lg-6 .s-item .row .col-3 i {
        padding: 8px;
        color: #03C4EB;
        font-size: 4em;
    }

    .one-page p {
        color: white;
        font-size: 18px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 40px;
    }

    .one-page a.btn-lg {
        margin-right: 10px;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 12px;
        color: white;
        font-weight: 600;
        text-decoration: none;
        transition: 0.4s;
        display: inline-block;
    }

    .logo .container .row .col-sm-6.col-md-3.text-center {
        margin-bottom: 20px;
    }

    .feature .item h1 i {
        color: white;
        font-size: 30px;
        margin-bottom: 15px;
        padding: 25px;
        border-radius: 50%;
        background-color: #03C4EB;
        transition: 0.7s;
    }

    .teams .container .one-item {
        width: 100%;
        position: relative;
        height: 225px;
        overflow: hidden;
    }

    .teams .container .row .col-lg-3.col-md-6.text-center {
        padding: 0 25px;
        margin: 0;
        font-family: 'Raleway', sans-serif;

    }

    .card {
        margin-bottom: 15px;
    }
    .pricing .card .card-block p {
        border-radius: 0;
        font-size: 14px;
    }

    .news .content-news .one-new .col-md-8 h6 {
        font-size: 12px;
        color: #39D1EF;
        font-weight: 800;
        margin-top: 15px;
    }

}
